<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
    <style>
        .dashboard-container .container .tableBox .el-image img {
            width: 20px;
            border-radius: 26px;
        }
    </style>
</head>
<body>
<div class="dashboard-container" id="combo-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入题目描述"
                    style="width: 250px"
                    clearable
                    clearable @clear="initTest()"
                    @keyup.enter.native="handleQueryTest"
            >
            </el-input>
            <span style="height: 40px">
<!--                <el-button icon="el-icon-search" type="primary" plain style="margin-right: 20px" @click="initTest" >搜索</el-button>-->
                <el-button icon="el-icon-search" type="primary" plain circle style="margin-right: 20px" @click="initTest"></el-button>
            </span>
            <span style="height: 40px">
                <el-button type="info" plain style="margin-right: 400px;" @click="clearFilter">清除所有筛选条件</el-button>
            </span>

            <div class="tableLab">
                <el-button
                        type="text"
                        size="small"
                        style="color: #fdd24c;border-right: solid 1px #d8dde3;"
                        @click="deleteHandleTest('批量')"
                >
                    批量删除&nbsp&nbsp&nbsp
                </el-button>

                <el-button
                        type="text"
                        size="small"
                        style="color: #85ce61;border-right: solid 1px #d8dde3;"
                        @click="buildHandleTest()"
                >
                    组建试卷&nbsp&nbsp&nbsp
                </el-button>

                <el-button
                        type="text"
                        style="color: #f56c6c"
                        @click="open()"
                >批量停用
                </el-button>

                <el-button
                        type="primary"
                        style="background: #8cc5ff"
                        @click="addTest('add')"
                        icon="el-icon-plus"
                >
                    添加题目
                </el-button>
            </div>
        </div>
        <el-table
                ref="table"
                :data="tableData"
                stripe
                :border="true"
                width="500"
                class="tableBox"
                @selection-change="handleSelectionChange"
                :header-cell-style="{ 'text-align': 'center' }"
                :cell-style="{ 'text-align': 'center' }"
        >
            <el-table-column
                    fixed
                    type="selection"
                    width="45"
            ></el-table-column>
            <el-table-column
                    fixed
                    type="index"
                    width="50"
                    label="序号"
            ></el-table-column>
            <el-table-column
                    sortable
                    prop="type"
                    width="105"
                    label="题目类型"
                    :filters="typeList"
                    :filter-method="filterHandler"
            ></el-table-column>
            <el-table-column
                    prop="description"
                    width="300"
                    label="题目描述"
            ></el-table-column>
            <el-table-column
                    prop="picture"
                    width="150"
                    label="题目图片"
            >
                <template slot-scope="scope">
                    <img v-if="scope.row.picture" :src="scope.row.picture" alt="图片展示失败" width="100"/>
                </template>
            </el-table-column>
            <el-table-column
                    prop="options"
                    width="250"
                    label="选项"
            ></el-table-column>
            <el-table-column
                    prop="answer"
                    width="100"
                    label="答案"
            ></el-table-column>
            <el-table-column
                    sortable
                    prop="quesCourStr"
                    width="100"
                    label="所属课程"
                    :filters="courseList"
                    :filter-method="filterHandler"
            ></el-table-column>
            <el-table-column
                    sortable
                    prop="chapter"
                    width="90"
                    label="所属章节"
                    :filters="chapterList"
                    :filter-method="filterHandler"
            ></el-table-column>
            <el-table-column
                    sortable
                    prop="hard"
                    width="60"
                    label="难度"
                    :filters="hardList"
                    :filter-method="filterHandler"
            ></el-table-column>
            <el-table-column
                    sortable
                    prop="score"
                    width="60"
                    label="分值"
                    :filters="scoreList"
                    :filter-method="filterHandler"
            ></el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="80"
                    align="center"
            >
                <template slot-scope="scope">

                    <el-button
                            type="text"
                            @click="addTest(scope.row.id)"
                    >
                        <img src="../../images/icons/edit.png" style="width: 20px;height: 20px"/>
                    </el-button>

                    <el-button
                            type="text"
                            @click="deleteHandleTest('单删', scope.row.id)"
                    >
                        <img src="../../images/icons/del.png" style="width: 20px;height: 20px"/>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                @size-change="handleSizeChange"
                :current-page.sync="page"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/test.js"></script>
<script>
    new Vue({
        el: '#combo-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData: [],
                checkList: [],

                typeList: [],
                courseList: [],
                chapterList: [],
                hardList: [],
                scoreList: [],
            }
        },
        computed: {},
        created() {
            /**
             * 加载页面时进行初始化
             * */
            this.initTest()

        },
        mounted() {
        },
        methods: {

            async initTest() {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getTestPage(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.list || []
                        this.counts = res.data.total

                        //对接受到的数据的某些字段内容进行封装
                        for (let i = 0; i < res.data.list.length; i++) {
                            if (res.data.list[i].picture != null && res.data.list[i].picture !== '') {
                                res.data.list[i].picture = "../../myImages/" + res.data.list[i].picture
                            }

                            let string = '';
                            if (res.data.list[i].type === '选择题') {
                                for (let j = 0; j < res.data.list[i].options.length; j++) {
                                    string += "选项" + (j + 1) + ":" + res.data.list[i].options[j] + (j === res.data.list[i].options.length-1 ? '' : '; ')
                                }
                            }
                            res.data.list[i].options = string

                        }

                        //封装筛选条件的集合，用于表格的筛选功能
                        let list = res.data.list.map((obj) => ({text: obj.quesCourStr, value: obj.quesCourStr}))
                        this.courseList = this.listNodup(list, 'text')

                        list = res.data.list.map((obj) => ({text: obj.type, value: obj.type}))
                        this.typeList = this.listNodup(list, 'text')

                        list = res.data.list.map((obj) => ({text: obj.chapter, value: obj.chapter}))
                        this.chapterList = this.listNodup(list, 'text')

                        list = res.data.list.map((obj) => ({text: obj.hard, value: obj.hard}))
                        this.hardList = this.listNodup(list, 'text')

                        list = res.data.list.map((obj) => ({text: obj.score, value: obj.score}))
                        this.scoreList = this.listNodup(list, 'text')
                    }
                }).catch(err => {  //
                    this.$message.error('请求出错了：' + err)
                })
            },
            //筛选功能中的去重方法
            listNodup(oldList, keyName) {
                let result = {};
                for (let i = 0; i < oldList.length; i++) {
                    result[oldList[i][keyName]] = oldList[i];
                    //list[i].name不能重复,达到去重效果,且这里必须知晓一个键名 keyName
                }
                let resultList = [];
                for (const item in result) {
                    resultList.push(result[item]);
                }
                return resultList;
            },

            clearFilter() {
                this.$refs.table.clearFilter();
                if (this.input!==''){
                    this.input = '';
                    this.initTest();
                }
            },

            /**
             * 页面初始页码
             * */
            handleQueryTest() {
                this.page = 1;
                this.initTest();
            },
            // 添加
            addTest(st) {
                if (st === 'add') {
                    window.parent.menuHandle({
                        id: '4',
                        url: 'page/testManger/add.html',
                        name: '添加题目'
                    }, true)
                } else {
                    window.parent.menuHandle({
                        id: '4',
                        url: 'page/testManger/add.html?id=' + st,
                        name: '修改题目信息'
                    }, true)
                }
            },

            // 删除
            deleteHandleTest(type, id) {
                if (type === '批量' && id === undefined) {
                    if (this.checkList.length === 0) {
                        return this.$message.error('请选择删除对象')
                    }
                }
                this.$confirm('确定删除该题目, 是否继续?', '确定删除', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {
                    deleteTest(type === '批量' ? this.checkList.join(',') : id).then(res => {
                        if (res.code === 1) {
                            if (res.data === 'success')
                                this.$message.success('删除成功！');
                            else
                                this.$message.error(res.data);
                            this.handleQueryTest()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },

            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },

            // 全部操作
            handleSelectionChange(val) {
                let checkArr = []
                val.forEach((n) => {
                    checkArr.push(n.id)
                })
                this.checkList = checkArr
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.initTest()
            },
            handleCurrentChange(val) {
                this.page = val
                this.initTest()
            },

            buildHandleTest(){
                if (this.checkList.length === 0) {
                    return this.$message.error('请选择操作对象')
                }
                buildTest(this.checkList.join(',')).then(res => {
                    if (res.code === 1) {
                        if (res.data === 'success')
                            this.$message.success('操作成功');
                        else
                            this.$message.error(res.data);
                        this.handleQueryTest()
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },

            open() {
                this.$alert('没有这个功能', '别乱点', {
                    confirmButtonText: '确定',
                });
            }

        }
    })
</script>
</body>
</html>